name: connect to aws_cli
on: push
jobs:
  awscli:
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
    runs-on: ubuntu-latest
    steps:
    - name: awscli configuration
      run: |
        sudo apt-get update -y
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        sudo apt-get install unzip -y
        unzip awscliv2.zip
        sudo ./aws/install --update
    - name: s3 ls
      run: aws s3 ls
    - name: git checkout
      uses: actions/checkout@v4
    - name: move file to s3
      run: |
        aws s3 cp index.html s3://staticwebsitehosting0803/
        aws s3 cp error.html s3://staticwebsitehosting0803/
